footer {
    height: 10rem;
    background-color: var(--surface-color);
    display: flex;
    justify-content: space-evenly;
    padding-top: 7rem;
    
}

footer nav {
    width: max-content;

}

footer nav a {
    color: black;
    text-decoration: none;
    margin: 0px 1rem;
}

footer nav a:hover {
    border-bottom: solid 2px var(--primary-color);
}

#emailForm input,
#emailForm textarea {
    border: none;
    border-bottom: 2px solid var(--secondary-color);
    height: 2.5rem;
    width: 30rem;
    outline: none;
    background-color: white;
}

#emailForm input::placeholder,
#emailForm textarea::placeholder {
    color: gray;
}

#emailForm input:focus,
#emailForm textarea:focus {
    border-bottom: 3px solid var(--primary-color-300)
}

#emailForm input:hover,
#emailForm textarea:hover {
    background-color: ffffff;
}

.primary-button {
    font-weight: bold;
    border-radius: 1rem;
    border: none;
    padding: 2.5% 5%;
    color: var(--neutral-color);
    background-color: var(--secondary-color);
}

.primary-button:hover {
    background: linear-gradient(135deg, #c29bc4 0%, #dca0d2 100%);
}
.connectsection {
    display: flex;
}


.socialmedia {
    word-spacing: 1rem;
}